#!/usr/bin/make -f

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	LIBPCSCLITE_PATH = /lib/libpcsclite.so.1
else
	LIBPCSCLITE_PATH = /usr/lib/libpcsclite.so.1
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --sysconfdir=/etc/opensc \
		--enable-pcsc \
		--enable-doc \
		--htmldir=/usr/share/doc/opensc/html \
		--with-pcsc-provider=$(LIBPCSCLITE_PATH)

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_installdocs:
	dh_installdocs -A README NEWS
